<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/655272e9b6.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <aside>
        <div class="messages">
            <span>
                <strong>Fulano:</strong>
                <span>Cheguei</span>
            </span>
            <span>
                <strong>Você:</strong>
                <span>Olá, mundo</span>
            </span>
        </div>
        <div class="send-messages">
            <input type="text" placeholder="Enviar mensagem">
        </div>
    </aside>
    <main>
        <video src="./videos/video.mp4"></video>
        <video src="./videos/video.mp4"></video>
        <video src="./videos/video.mp4"></video>
        <video src="./videos/video.mp4"></video>
        <video src="./videos/video.mp4"></video>
        <video src="./videos/video.mp4"></video>
    </main>
    <footer>
        <div class="details-container">
            <span>Detalhes da reunião</span>
        </div>
        <div class="options-container">
            <ul class="options-list">
                <li>
                    <i class="fas fa-microphone-alt"></i>
                </li>
                <li>
                    <i class="fas fa-phone"></i>
                </li>
                <li>
                    <i class="fas fa-video"></i>
                </li>
            </ul>
        </div>
        <div class="start-presentation-container">
            <div>
                <span>Apresentar agora</span>
            </div>
        </div>
    </footer>
</body>

</html>