* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    background: #111111;
    overflow: hidden;
    font-family: 'Noto sans', sans-serif;
}

.header {
    position: absolute; 
        top: 0; 
        right: 0; 
        background-color: white;
        max-width: 280px;    
        width: 80vw;
        height: 42px;
        border-bottom-left-radius: 5px;
        display: flex;
        justify-content: space-between;
}

.header-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    cursor: pointer;
}

.header-item:hover {
    background-color: #e2e2e231;
}

.header-item-user {
    position: relative;
}

.header-item-user img {
    border-radius: 50%; 
    width: 30px; 
    margin-left: 4px;
}

.header-item-user span {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    font-size: 11px;
}

.header-item svg {
    fill: #5f6368
}

.fa-chevron-up {
    color: #5f6368;
}

span {
    color: #4f5357;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

span {
    font-size: 15px;
}

aside .send-messages {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    display: flex;
    padding-left: 10px;
}

aside .send-messages input {
    width: 95%;
    background: none;
    border: none;
    outline: none;
    color: white;
    padding-bottom: 6px;
    border-bottom: 1px solid #202024;
}

aside {
    position: absolute;
    color: white;
    right: 0;
    top: 0;
    background: #121214;
    border-left: 1px solid #202024;
    width: 300px;
    height: 88vh;
    /*border-radius: 0 0 0 5px;*/
    display: flex;
    flex-direction: column;
}

aside .messages {
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: flex-start;

    height: 90%;
    width: 100%;

    padding-top: 12px;
}

aside .send-messages {
    height: 10%;
}


::-webkit-scrollbar {
    width: 8px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #232325; 
    border-radius: 10px;
  }

aside span {
    font-size: 12px;
    margin: 4px 8px;
}

main.video-grid {
    height: 88vh;
    /*width: calc(100% - 300px);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*main {
    height: 88vh;
    width: calc(100% - 300px);

    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);            
    grid-auto-rows: 240px;
    grid-gap: 20px;

    padding-left: 30px;
}

main video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 20px;
    border: 8px;
}*/

footer {
    height: 12vh;
    width: 100%;

    font-weight: 500;

    background: #fff;
    border-top: 1px solid #202024;
    color: #202124;
    display: flex;
}

.details-container, .start-presentation-container, .more-options {
    display: flex;
    align-items: center;
    padding: 0 20px;
    transition: background .2s;
}

.details-container:hover,
.start-presentation-container:hover,
.more-options:hover {
    cursor: pointer; background-color: #a2a5a831;
}

.more-options svg {
    fill: #5f6368;
}

.start-presentation-container span {
    font-size: 12px;
}

.options-container {
    flex: 2;
}

.options-container .options-list {
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-container .options-list li {
    margin: 0 8px;
    border: 2px solid red;
    height: 52px;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
}

li svg {
    height: 50%;
}

li.mic svg {
    height: 75%  !important;
}

li.phone svg {
    fill: #d93025;
}

li.marked {
    background: #d93025;
}

li.marked svg {
    fill: #fff;
}

li.marked:hover {
    background: #b92b21 !important;    
}

.options-container .options-list li:hover {
    cursor: pointer;    
    box-shadow: 0 1px 10px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background: #f0f0f0;
    border: 1px solid #f3f1f1;
}


@media(max-width: 1000px) {
    aside, 
    .details-container, 
    .start-presentation-container{
        display: none;
    }
    main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
    video:not(:first-child) {
        display: none;
    }   
    video:first-child {
        height: 50%;
        width: 80%;
    }
    .more-options {
        display: none;
    }
}
